$color-primary: hsla(196, 100%, 63%, 1);
$color-primary-hover: hsla(188, 100%, 50%, 1);
$color-secondary: hsla(210, 50%, 13%, 1);
$color-secondary-hover: hsla(220, 70%, 20%, 1);

$color-brand-blue: hsla(196, 100%, 63%, 1);
$color-brand-blue-hover: hsla(188, 100%, 50%, 1);
$color-black: hsla(0%, 0%, 0%, 1);
$color-black-hover: hsla(10%, 10%, 20%, 1);

.BaseButtonWrapper {
  display: inline-block;
  margin-top: 30px;
}

*:not(.custom-theme).BaseButton {
  background-color: transparent;
  border: 2px solid #123;
  border-radius: 6px;
  color: $color-black;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
  padding: 18px 21px;
  white-space: nowrap;
  min-width: 144px;

  &:hover {
    border-color: $color-secondary-hover;
  }
  // others
  &:disabled {
    border-color: #89949f;
    background-color: transparent;
    color: #89949f;
    &:hover {
      cursor: not-allowed;
    }
  }
  // colors
  &-brand-blue {
    border-color: transparent;
    background-color: $color-brand-blue;
    color: hsla(100%, 100%, 100%, 1);
    &:hover {
      border-color: transparent;
      background-color: $color-brand-blue-hover;
    }
  }
  &-black {
    border-color: transparent;
    background-color: $color-black;
    color: hsla(100%, 100%, 100%, 1);
    &:hover {
      border-color: transparent;
      background-color: $color-black-hover;
    }
  }
  &-primary {
    border-color: transparent;
    background-color: $color-primary;
    color: hsla(100%, 100%, 100%, 1);
    &:hover {
      border-color: transparent;
      background-color: $color-primary-hover;
    }
    &:disabled {
      border-color: transparent;
      background-color: hsla(196, 10%, 90%, 1);
      color: hsla(210, 10%, 58%, 1);
    }
  }
  &-secondary {
    border-color: transparent;
    background-color: $color-secondary;
    color: hsla(100%, 100%, 100%, 1);
    &:hover {
      border-color: transparent;
      background-color: $color-secondary-hover;
    }
    &:disabled {
      border-color: transparent;
      background-color: hsla(210, 20%, 30%, 1);
      color: hsla(210, 10%, 58%, 1);
    }
  }
  &-flat {
    border-color: transparent;
    background-color: transparent;
    color: $color-black;
    &:hover {
      border-color: transparent;
      color: $color-black;
      background-color: #dedede; // TODO: Replace once designer decides upon the right colour
    }
    &:disabled {
      color: #89949f;
      border-color: transparent;
      background-color: transparent;
    }
  }

  // sizes
  &-tiny {
    font-size: 12px;
    padding: 5px 8px;
  }
  &-small {
    font-size: 16px;
    padding: 8px 11px;
  }
  &-medium {
    font-size: 20px;
    padding: 12px 16px;
  }
  &-large {
    font-size: 20px;
    padding: 18px 21px;
  }

  // The button animation (transition) styles
  svg {
    max-width: 24px;
    max-height: 24px;
  }

  &-loader {
    position: relative;
    left: -2px;
    // bottom: -2px;
  }

  &-checkmark {
    position: relative;
    bottom: -3px;
    left: -2px;
    transform: rotate(360deg);
    transition: all 7.4s;
    transition-delay: 3.2s;
  }

  &-checkmark svg path {
    transform: rotate(360deg);
    transform-origin: center;
  }

  .buttonContent-enter-active,
  .buttonContent-leave-active {
    transition: opacity 0.2s;
  }

  .buttonContent-enter,
  .buttonContent-leave-to {
    opacity: 0;
  }
}
